@use '../common';
@use '../palette';

.card {
  @extend .dark-on-light;

  border-top: 12px dashed palette.$c3;
  border-bottom: 12px dashed palette.$c3;

  .card-img {
    margin: auto;
    margin-top: 25px;
  }

  .card-title {
    @extend .medium-text;
  }

  .card-title,
  .card-desc {
    margin: 25px;
    margin-top: 12px;
  }
}

.title {
  background-color: palette.$c5;
  color: palette.$c1;
}

.header {
  @extend .big-text;
  // @extend .light-on-dark;
  background-color: palette.$c2;
  color: palette.$c5;
  text-align: center;
  padding-top: 100px;
}

.attribution {
  position: absolute;
  right: 0;
  bottom: 0;

  background: palette.$c1;
  font-size: 0.75rem;
}

.dogs, .sides, .drinks {
  background-attachment: fixed;
  background-color: palette.$c1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  image-rendering: pixelated;

  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

.dogs {
  background-image: url('../../img/dog_bg.png');
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;

  .dog-cards {
    @extend .width-800px;
    display: grid;
    grid-template-columns: 375px;
    gap: 50px;
    margin-top: 25px;
  }
}

.sides {
  background-image: url('../../img/sides_bg.png');
}

.drinks {
  background-image: url('../../img/drinks_bg.png');
}

.sides-cards, .drink-cards {
  @extend .width-800px;

  .card {
    margin-top: 50px;
  }

  .card-title {
    @extend .big-text;
    text-align: center;
  }

  .list-item {
    list-style-type: disc;
    margin-left: 25px;
  }
}

@media screen and (min-width: 800px) {
  .dogs {
    .dog-cards {
      max-width: 800px;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      gap: 50px;
      margin-top: 25px;
    }
  }
}
