@use '../common';
@use '../palette';

.menu-cards {
  @extend .width-800px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin-top: 25px;

  .card {
    @extend .light-on-dark;

    border-top: 12px dashed palette.$c3;
    border-bottom: 12px dashed palette.$c3;

    .card-img {
      margin: auto;
      margin-top: 25px;
    }

    .card-title {
      @extend .medium-text;
    }

    .card-title,
    .card-desc {
      margin: 25px;
      margin-top: 12px;
    }
  }
}

.sides {
  margin-top: 50px;
}
