@use 'reset';
@use 'palette';
@use 'common';
@use 'header';
@use 'home';
@use 'footer';

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Secular+One&family=Titan+One&display=swap');

body {
  @extend .dark-on-light;
  font-family: 'ABeeZee', sans-serif;
  font-size: 1.2rem;
}

#content {
  min-height: 100vh;
}
