@use 'reset';
@use 'palette';

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Secular+One&family=Titan+One&display=swap');

.dark-on-light {
  background-color: palette.$c1;
  color: palette.$c5;
}

.light-on-dark {
  background-color: palette.$c4;
  color: palette.$c1;
}

.italic {
  font-style: italic;
  text-rendering: optimizeLegibility;
}

.bold {
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

.underline {
  text-decoration: underline;
}

.center {
  margin: auto;
}

.width-800px {
  @extend .center;
  max-width: 800px;
}

.width-600px {
  @extend .center;
  max-width: 600px;
}

.padding-1rem {
  padding: 1rem;
}

.medium-text {
  @extend .bold;
  font-size: clamp(1.2rem, 2vw, 2rem);
  vertical-align: bottom;
  margin-right: 0.25rem;
}

.big-text {
  font-family: 'Secular One', sans-serif;
  text-rendering: optimizeLegibility;
  font-size: clamp(2rem, 5vw, 3rem);
  vertical-align: bottom;
}

.link {
  text-decoration: palette.$c2 wavy underline;

  &:hover, &:active {
    color: palette.$c2;
  }
}

body {
  @extend .dark-on-light;
  font-family: 'ABeeZee', sans-serif;
  font-size: 1.2rem;
}

.logo {
  margin: 2rem auto;
  width: min-content;
  text-align: center;
  z-index: 100;

  &-text {
    font-family: 'Titan One', cursive;
    font-size: 3.5rem;
  }

  &-1,
  &-2 {
    margin: auto;
    display: block;
    width: max-content;
  }

  &-1 {
    background-color: palette.$c2;
    border-left: 12px solid palette.$c2;
    border-right: 12px solid palette.$c2;

    margin-bottom: -0.5rem;
    transform: rotate(2deg);
  }

  &-2 {
    background-color: palette.$c3;
    border-left: 12px solid palette.$c3;
    border-right: 12px solid palette.$c3;

    transform: rotate(-3deg);
  }
}

.nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;

  background: palette.$c4;
  color: palette.$c1;

  .navigation {
    .nav-list {
      display: flex;
      flex-flow: row;
      justify-content: space-around;
    }

    .nav-item {
      @extend .big-text;
      @extend .link;
    }
  }
}

.hero {
  position: relative;

  background-attachment: fixed;
  background-color: palette.$c1;
  background-image: url('../img/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100vh;

  image-rendering: pixelated;

  width: 100vw;
  height: clamp(40vh, 40vw, 50vh);

  display: flex;
  justify-content: center;
  align-items: center;

  &-text-wrapper {
    min-width: min-content;
    text-align: center;
  }

  &-text {
    display: inline;

    background-color: palette.$c5;
    color: palette.$c1;

    border-left: 12px solid palette.$c5;
    border-right: 12px solid palette.$c5;

    line-height: 2;
  }
}

.below-fold {
  text-align: center;

  & > * {
    margin-top: 2rem;
  }

  .hours{
    text-align: left;
    border-collapse: separate;
    border-spacing: 1rem 0.5rem;
  }
}

.footer {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;

  .github-logo {
    height: 1.5rem;
    display: inline-block;
    vertical-align: text-bottom;
    filter: invert(44%) sepia(13%) saturate(322%) hue-rotate(221deg) brightness(88%) contrast(88%);
  }
}
